.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}
h1 {
  font-size: 50px;
}

button {
  display: block;
  padding: 16px;
}

.ContentBtn:link, .ContentBtn:visited {
  background-color: #0d660a;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: flex;
}

.ContentBtn:hover {
  background-color: rgb(0, 0, 0);
}

.warning {
  font-size: 35px;
  color: red;
}


/* CSS for Sidenav */
body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background-color: #0d660a;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


/* CSS for Dropdown */
  .dropbtn {
    background-color: #111;
    color: #818181;
    padding-left: 15px;
    font-size: 25px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-size: 25px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
